body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

header {
    border: 1px solid #153448;
    background-color: #DFD0B8;
    color: #153448;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

li {
    padding: 4px;
    margin-left: 8px;
}

lo {
    padding: 4px;
    margin-left: 8px;
    text-decoration: underline;
}
.house-card {
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.apartment-card {
    border: 1px solid black;
    border-radius: 5px;
    padding: 1rem;
    margin-bottom: 10px; 
}